/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/plugins
/public/assets
/public/mix-manifest.json
/storage/*.key
/vendor
/bootstrap/cache
/storage/framework/views
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# *.xlsx
public/plugins/global/plugins.bundle.js
public/plugins/custom/prismjs/prismjs.bundle.js
public/images/banner/Screenshot 2021-05-18 130131_1621969778.png
public/images/poster/Screenshot 2021-05-18 130131_1621969779.png
