/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/plugins
/public/images
/public/assets
/public/mix-manifest.json
/storage/*.key
/vendor
/bootstrap/cache
/storage/framework/views
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# *.xlsx
public/plugins/global/plugins.bundle.js
public/plugins/custom/prismjs/prismjs.bundle.js
public/video/episode/a_1622006839.m4v
public/video/episode/screen recorder windows 10 - Google Search - Google Chrome 2021-01-28 20-08-02_1622269837.mp4
public/video/episode/screen recorder windows 10 - Google Search - Google Chrome 2021-01-28 20-08-02_1622281604.mp4
